[Desktop Entry]
Categories=Application
Comment=A GUI tool switch k8s contexts
Exec=kbugscontext
Icon=kbugscontext
Name=KBugsContext
StartupNotify=true
Terminal=false
Type=Application
StartupNotify=true
